-- DevLog Blog Platform - Initial Schema Migration
-- Run via: npx supabase db push (with Supabase CLI)
-- Or paste into Supabase Dashboard > SQL Editor

-- ============================================================
-- CATEGORIES TABLE
-- ============================================================
DROP TABLE IF EXISTS public.posts CASCADE;
DROP TABLE IF EXISTS public.categories CASCADE;

CREATE TABLE IF NOT EXISTS public.categories (
    id            UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name          TEXT NOT NULL,
    slug          TEXT NOT NULL UNIQUE,
    sort_order    INT DEFAULT 0,
    created_at    TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- ============================================================
-- POSTS TABLE
-- ============================================================
CREATE TABLE IF NOT EXISTS public.posts (
    id            UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    title         TEXT NOT NULL,
    slug          TEXT NOT NULL UNIQUE,
    excerpt       TEXT,
    content       TEXT,
    category_id   UUID REFERENCES public.categories(id) ON DELETE SET NULL,
    thumbnail_url TEXT,
    author_name   TEXT NOT NULL DEFAULT 'Anonymous',
    author_avatar_url TEXT,
    published_at  TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    is_featured   BOOLEAN NOT NULL DEFAULT FALSE,
    created_at    TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at    TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Indexes
CREATE INDEX IF NOT EXISTS idx_posts_category_id ON public.posts(category_id);
CREATE INDEX IF NOT EXISTS idx_posts_is_featured ON public.posts(is_featured);
CREATE INDEX IF NOT EXISTS idx_posts_published_at ON public.posts(published_at DESC);

-- Updated_at trigger for posts
CREATE OR REPLACE FUNCTION public.handle_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER set_posts_updated_at
    BEFORE UPDATE ON public.posts
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_updated_at();

-- ============================================================
-- ROW LEVEL SECURITY (RLS)
-- ============================================================
ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.posts ENABLE ROW LEVEL SECURITY;

-- Categories: public read
CREATE POLICY "categories_public_read" ON public.categories FOR SELECT USING (TRUE);

-- Posts: public read
CREATE POLICY "posts_public_read" ON public.posts FOR SELECT USING (TRUE);

-- Posts: authenticated write
CREATE POLICY "posts_auth_insert" ON public.posts FOR INSERT TO authenticated WITH CHECK (TRUE);
CREATE POLICY "posts_auth_update" ON public.posts FOR UPDATE TO authenticated USING (TRUE) WITH CHECK (TRUE);
CREATE POLICY "posts_auth_delete" ON public.posts FOR DELETE TO authenticated USING (TRUE);
-- ============================================================
-- ADD VIEW COUNT TO POSTS TABLE
-- ============================================================

-- 1. Add column to track view count
ALTER TABLE public.posts
ADD COLUMN IF NOT EXISTS view_count INT NOT NULL DEFAULT 0;

-- 2. Create RPC function to increment view count safely
CREATE OR REPLACE FUNCTION public.increment_view_count(post_slug TEXT)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  UPDATE public.posts
  SET view_count = view_count + 1
  WHERE slug = post_slug;
END;
$$;
-- ============================================================
-- ADD POST STATUS AND UPDATE RLS POLICIES
-- ============================================================

-- 1. Add status column with check constraint (if not exists)
ALTER TABLE public.posts
ADD COLUMN IF NOT EXISTS status TEXT NOT NULL DEFAULT 'draft'
CHECK (status IN ('draft', 'published', 'private'));

-- 2. Update existing posts to be 'published' since they were created before this feature
UPDATE public.posts
SET status = 'published'
WHERE status = 'draft';

-- ============================================================
-- UPDATE ROW LEVEL SECURITY (RLS) POLICIES FOR BLOG WRITING
-- ============================================================

-- Drop old read policy
DROP POLICY IF EXISTS "posts_public_read" ON public.posts;

-- 1. Read Policy:
-- Anyone can read 'published' posts.
-- Authenticated users can read their *own* 'draft' or 'private' posts.
-- (We assume the user is identified by an auth.uid() column or similar. Wait, the posts table doesn't have a user_id column. It only has author_name!)
-- ?슚 CRITICAL FIX: To use RLS properly, we NEED a user_id column tracking who owns the post.
ALTER TABLE public.posts
ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE DEFAULT auth.uid();

-- Now we can create proper RLS policies based on ownership
DROP POLICY IF EXISTS "posts_read_policy" ON public.posts;
CREATE POLICY "posts_read_policy" ON public.posts
FOR SELECT USING (
    status = 'published' 
    OR 
    (auth.uid() = user_id)
);

-- Drop old write policies
DROP POLICY IF EXISTS "posts_auth_insert" ON public.posts;
DROP POLICY IF EXISTS "posts_auth_update" ON public.posts;
DROP POLICY IF EXISTS "posts_auth_delete" ON public.posts;

-- 2. Insert Policy: 
-- Authenticated users can insert posts (user_id is set to their uid automatically by default, but we enforce it).
DROP POLICY IF EXISTS "posts_insert_policy" ON public.posts;
CREATE POLICY "posts_insert_policy" ON public.posts
FOR INSERT TO authenticated 
WITH CHECK (auth.uid() = user_id);

-- 3. Update Policy:
-- Users can only update their *own* posts.
DROP POLICY IF EXISTS "posts_update_policy" ON public.posts;
CREATE POLICY "posts_update_policy" ON public.posts
FOR UPDATE TO authenticated
USING (auth.uid() = user_id)
WITH CHECK (auth.uid() = user_id);

-- 4. Delete Policy:
-- Users can only delete their *own* posts.
DROP POLICY IF EXISTS "posts_delete_policy" ON public.posts;
CREATE POLICY "posts_delete_policy" ON public.posts
FOR DELETE TO authenticated
USING (auth.uid() = user_id);

-- Force schema cache reload (PostgREST specific)
NOTIFY pgrst, 'reload schema';
-- ============================================================
-- CREATE STORAGE BUCKET FOR POST IMAGES
-- ============================================================

-- Create a public bucket for post images
INSERT INTO storage.buckets (id, name, public, file_size_limit, allowed_mime_types)
VALUES (
    'post-images',
    'post-images',
    true,
    10485760, -- 10MB max file size
    ARRAY['image/jpeg', 'image/png', 'image/gif', 'image/webp', 'image/svg+xml']
)
ON CONFLICT (id) DO NOTHING;

-- Allow public read access (anyone can view uploaded images)
DROP POLICY IF EXISTS "post_images_public_read" ON storage.objects;
CREATE POLICY "post_images_public_read"
ON storage.objects FOR SELECT
USING (bucket_id = 'post-images');

-- Allow authenticated users to upload images
DROP POLICY IF EXISTS "post_images_auth_upload" ON storage.objects;
CREATE POLICY "post_images_auth_upload"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (
    bucket_id = 'post-images'
    AND (storage.foldername(name))[1] = auth.uid()::text
);

-- Allow users to delete their own images
DROP POLICY IF EXISTS "post_images_auth_delete" ON storage.objects;
CREATE POLICY "post_images_auth_delete"
ON storage.objects FOR DELETE
TO authenticated
USING (
    bucket_id = 'post-images'
    AND (storage.foldername(name))[1] = auth.uid()::text
);
-- Migration to add bookmarks table

CREATE TABLE IF NOT EXISTS public.bookmarks (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    post_id UUID NOT NULL REFERENCES public.posts(id) ON DELETE CASCADE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    UNIQUE(user_id, post_id)
);

-- Row Level Security
ALTER TABLE public.bookmarks ENABLE ROW LEVEL SECURITY;

-- Users can only see their own bookmarks
CREATE POLICY "Users can view their own bookmarks" 
    ON public.bookmarks 
    FOR SELECT 
    USING (auth.uid() = user_id);

-- Users can only insert their own bookmarks
CREATE POLICY "Users can insert their own bookmarks" 
    ON public.bookmarks 
    FOR INSERT 
    WITH CHECK (auth.uid() = user_id);

-- Users can only delete their own bookmarks
CREATE POLICY "Users can delete their own bookmarks" 
    ON public.bookmarks 
    FOR DELETE 
    USING (auth.uid() = user_id);
-- DevLog: Add Profiles Table (username, nickname, full_name)
-- Migration 006

-- ============================================================
-- PROFILES TABLE
-- ============================================================
CREATE TABLE IF NOT EXISTS public.profiles (
    id          UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
    username    TEXT NOT NULL UNIQUE,   -- 怨좎쑀 ?꾩씠??(濡쒓렇?몄슜)
    nickname    TEXT NOT NULL UNIQUE,   -- 怨좎쑀 ?됰꽕??(寃뚯떆湲 ?쒖떆??
    full_name   TEXT,                  -- ?ㅻ챸
    created_at  TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at  TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Indexes
CREATE INDEX IF NOT EXISTS idx_profiles_username ON public.profiles(username);
CREATE INDEX IF NOT EXISTS idx_profiles_nickname ON public.profiles(nickname);

-- Updated_at trigger
CREATE TRIGGER set_profiles_updated_at
    BEFORE UPDATE ON public.profiles
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_updated_at();

-- ============================================================
-- ROW LEVEL SECURITY (RLS)
-- ============================================================
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- Everyone can read all profiles (for displaying author names)
CREATE POLICY "Profiles are publicly readable"
    ON public.profiles FOR SELECT
    USING (true);

-- Users can only update their own profile
CREATE POLICY "Users can update own profile"
    ON public.profiles FOR UPDATE
    USING (auth.uid() = id);

-- Service role can insert (for trigger use)
CREATE POLICY "Service role can insert profiles"
    ON public.profiles FOR INSERT
    WITH CHECK (auth.uid() = id);

-- Users can delete own profile (account deletion)
CREATE POLICY "Users can delete own profile"
    ON public.profiles FOR DELETE
    USING (auth.uid() = id);

-- ============================================================
-- AUTO-CREATE PROFILE ON SIGNUP (Trigger)
-- ============================================================
-- When a new auth.user is created via Social Login (Google),
-- this trigger auto-populates the profiles table with a
-- derived username and nickname from their email or metadata.
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
DECLARE
    base_username TEXT;
    base_nickname TEXT;
    final_username TEXT;
    final_nickname TEXT;
    suffix INT := 0;
BEGIN
    -- Derive base from email prefix (e.g., "sooyeon" from "sooyeon@gmail.com")
    base_username := split_part(NEW.email, '@', 1);
    base_nickname := COALESCE(NEW.raw_user_meta_data->>'display_name',
                              NEW.raw_user_meta_data->>'full_name',
                              base_username);

    -- Ensure username uniqueness by appending a number if needed
    final_username := base_username;
    WHILE EXISTS (SELECT 1 FROM public.profiles WHERE username = final_username) LOOP
        suffix := suffix + 1;
        final_username := base_username || suffix::TEXT;
    END LOOP;

    -- Ensure nickname uniqueness by appending a number if needed
    suffix := 0;
    final_nickname := base_nickname;
    WHILE EXISTS (SELECT 1 FROM public.profiles WHERE nickname = final_nickname) LOOP
        suffix := suffix + 1;
        final_nickname := base_nickname || suffix::TEXT;
    END LOOP;

    -- Only auto-insert for social/OAuth logins (not email/password signups)
    -- Email/password users have their profile inserted by the app after signup
    IF NEW.raw_app_meta_data->>'provider' != 'email' OR NEW.raw_app_meta_data->>'provider' IS NULL THEN
        INSERT INTO public.profiles (id, username, nickname, full_name)
        VALUES (
            NEW.id,
            final_username,
            final_nickname,
            COALESCE(NEW.raw_user_meta_data->>'full_name', base_username)
        )
        ON CONFLICT (id) DO NOTHING;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE TRIGGER on_auth_user_created
    AFTER INSERT ON auth.users
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_new_user();

-- ============================================================
-- RPC: get_email_by_username (for ID-based login)
-- ============================================================
-- Used by the login form to resolve a username to its email,
-- so we can pass the email to signInWithPassword.
CREATE OR REPLACE FUNCTION public.get_email_by_username(p_username TEXT)
RETURNS TEXT AS $$
DECLARE
    user_email TEXT;
BEGIN
    SELECT au.email INTO user_email
    FROM public.profiles p
    JOIN auth.users au ON au.id = p.id
    WHERE p.username = p_username
    LIMIT 1;
    RETURN user_email;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- RPC: check_username_available
-- ============================================================
CREATE OR REPLACE FUNCTION public.check_username_available(p_username TEXT)
RETURNS BOOLEAN AS $$
BEGIN
    RETURN NOT EXISTS (
        SELECT 1 FROM public.profiles WHERE username = lower(trim(p_username))
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- RPC: check_nickname_available
-- ============================================================
CREATE OR REPLACE FUNCTION public.check_nickname_available(p_nickname TEXT, p_exclude_user_id UUID DEFAULT NULL)
RETURNS BOOLEAN AS $$
BEGIN
    RETURN NOT EXISTS (
        SELECT 1 FROM public.profiles
        WHERE nickname = trim(p_nickname)
          AND (p_exclude_user_id IS NULL OR id != p_exclude_user_id)
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- RPC: delete_user_account (for account deletion)
-- ============================================================
-- SECURITY DEFINER allows the function to bypass RLS and delete
-- the auth.users row (which cascades to profiles).
CREATE OR REPLACE FUNCTION public.delete_user_account()
RETURNS VOID AS $$
BEGIN
    DELETE FROM auth.users WHERE id = auth.uid();
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
-- DevLog: Add Comments Table with nested reply support
-- Migration 007

-- ============================================================
-- COMMENTS TABLE
-- ============================================================
CREATE TABLE IF NOT EXISTS public.comments (
    id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    post_id     UUID NOT NULL REFERENCES public.posts(id) ON DELETE CASCADE,
    user_id     UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    parent_id   UUID REFERENCES public.comments(id) ON DELETE CASCADE, -- NULL = top-level comment
    content     TEXT NOT NULL,
    created_at  TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at  TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Indexes
CREATE INDEX IF NOT EXISTS idx_comments_post_id   ON public.comments(post_id);
CREATE INDEX IF NOT EXISTS idx_comments_user_id   ON public.comments(user_id);
CREATE INDEX IF NOT EXISTS idx_comments_parent_id ON public.comments(parent_id);
CREATE INDEX IF NOT EXISTS idx_comments_created_at ON public.comments(created_at ASC);

-- Updated_at trigger
CREATE TRIGGER set_comments_updated_at
    BEFORE UPDATE ON public.comments
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_updated_at();

-- ============================================================
-- ROW LEVEL SECURITY (RLS)
-- ============================================================
ALTER TABLE public.comments ENABLE ROW LEVEL SECURITY;

-- Anyone can read all comments
CREATE POLICY "Comments are publicly readable"
    ON public.comments FOR SELECT
    USING (true);

-- Authenticated users can insert comments
CREATE POLICY "Authenticated users can insert comments"
    ON public.comments FOR INSERT
    WITH CHECK (auth.uid() = user_id);

-- Users can only update their own comments
CREATE POLICY "Users can update own comments"
    ON public.comments FOR UPDATE
    USING (auth.uid() = user_id);

-- Users can only delete their own comments
CREATE POLICY "Users can delete own comments"
    ON public.comments FOR DELETE
    USING (auth.uid() = user_id);
-- DevLog: Add profile role and suspension fields
-- Migration 008

-- ============================================================
-- PROFILES TABLE UPDATES
-- ============================================================
-- 'role' can be 'user' or 'admin'
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS role TEXT NOT NULL DEFAULT 'user';

-- 'suspended_until' holds the expiration date of an account suspension
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS suspended_until TIMESTAMPTZ;

-- Index for querying suspended users quickly
CREATE INDEX IF NOT EXISTS idx_profiles_role ON public.profiles(role);
CREATE INDEX IF NOT EXISTS idx_profiles_suspended_until ON public.profiles(suspended_until);
-- DevLog: Add site settings for signup control
-- Migration 009

CREATE TABLE IF NOT EXISTS public.site_settings (
    id INT PRIMARY KEY CHECK (id = 1),
    signup_enabled BOOLEAN NOT NULL DEFAULT TRUE,
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Insert the default single row
INSERT INTO public.site_settings (id, signup_enabled)
VALUES (1, TRUE)
ON CONFLICT (id) DO NOTHING;

-- RLS
ALTER TABLE public.site_settings ENABLE ROW LEVEL SECURITY;

-- Everyone can read settings
CREATE POLICY "site_settings_public_read"
    ON public.site_settings FOR SELECT
    USING (true);

-- Only admins can update settings (assumes profile.role = 'admin')
CREATE POLICY "site_settings_admin_update"
    ON public.site_settings FOR UPDATE
    USING (
        EXISTS (
            SELECT 1 FROM public.profiles
            WHERE id = auth.uid() AND role = 'admin'
        )
    )
    WITH CHECK (
        EXISTS (
            SELECT 1 FROM public.profiles
            WHERE id = auth.uid() AND role = 'admin'
        )
    );
-- DevLog: Suspension Policies for Posts and Comments
-- Migration 010

-- ============================================================
-- POLICIES FOR SUSPENDED USERS
-- ============================================================
-- We use a trigger instead of RLS to prevent INSERT/UPDATE for posts and comments
-- because Supabase RLS USING/WITH CHECK can be tricky when checking another table's 
-- real-time state for every single row. A BEFORE trigger is safer.

CREATE OR REPLACE FUNCTION public.check_user_suspension()
RETURNS TRIGGER AS $$
DECLARE
    v_suspended_until TIMESTAMPTZ;
BEGIN
    SELECT suspended_until INTO v_suspended_until
    FROM public.profiles
    WHERE id = auth.uid();

    IF v_suspended_until IS NOT NULL AND v_suspended_until > NOW() THEN
        RAISE EXCEPTION 'Account suspended until %', v_suspended_until;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Trigger for posts
DROP TRIGGER IF EXISTS trg_check_suspension_posts ON public.posts;
CREATE TRIGGER trg_check_suspension_posts
    BEFORE INSERT OR UPDATE ON public.posts
    FOR EACH ROW
    EXECUTE FUNCTION public.check_user_suspension();

-- Trigger for comments
DROP TRIGGER IF EXISTS trg_check_suspension_comments ON public.comments;
CREATE TRIGGER trg_check_suspension_comments
    BEFORE INSERT OR UPDATE ON public.comments
    FOR EACH ROW
    EXECUTE FUNCTION public.check_user_suspension();
-- DevLog: Admin User Functions
-- Migration 011

-- ============================================================
-- RPC: admin_get_users
-- ============================================================
-- RETURNS: id, username, nickname, email, created_at, role, suspended_until
CREATE OR REPLACE FUNCTION public.admin_get_users()
RETURNS TABLE (
    id UUID,
    username TEXT,
    nickname TEXT,
    email TEXT,
    created_at TIMESTAMPTZ,
    role TEXT,
    suspended_until TIMESTAMPTZ
) AS $$
BEGIN
    -- Check if caller is admin
    IF NOT EXISTS (SELECT 1 FROM public.profiles p WHERE p.id = auth.uid() AND p.role = 'admin') THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    RETURN QUERY
    SELECT 
        p.id, 
        p.username, 
        p.nickname, 
        au.email::text, 
        p.created_at, 
        p.role, 
        p.suspended_until
    FROM public.profiles p
    JOIN auth.users au ON au.id = p.id
    ORDER BY p.created_at DESC;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;


-- ============================================================
-- RPC: admin_delete_user
-- ============================================================
-- Hard deletes an auth.user record which cascades to profiles, posts, etc.
CREATE OR REPLACE FUNCTION public.admin_delete_user(target_user_id UUID)
RETURNS VOID AS $$
BEGIN
    -- Check if caller is admin
    IF NOT EXISTS (SELECT 1 FROM public.profiles p WHERE p.id = auth.uid() AND p.role = 'admin') THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    -- Prevent self-deletion via this admin route
    IF auth.uid() = target_user_id THEN
        RAISE EXCEPTION 'Cannot delete your own admin account';
    END IF;

    DELETE FROM auth.users WHERE id = target_user_id;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
-- DevLog: Review Category RLS Policies for Admin
-- Migration 012

-- Previously in 001_initial_schema.sql:
-- CREATE POLICY "categories_public_read" ON public.categories FOR SELECT USING (TRUE);
-- (Only READ was public)

-- We need to permit Admins to INSERT, UPDATE, DELETE categories

CREATE POLICY "categories_admin_insert" ON public.categories FOR INSERT
WITH CHECK (
    EXISTS (
        SELECT 1 FROM public.profiles
        WHERE id = auth.uid() AND role = 'admin'
    )
);

CREATE POLICY "categories_admin_update" ON public.categories FOR UPDATE
USING (
    EXISTS (
        SELECT 1 FROM public.profiles
        WHERE id = auth.uid() AND role = 'admin'
    )
)
WITH CHECK (
    EXISTS (
        SELECT 1 FROM public.profiles
        WHERE id = auth.uid() AND role = 'admin'
    )
);

CREATE POLICY "categories_admin_delete" ON public.categories FOR DELETE
USING (
    EXISTS (
        SELECT 1 FROM public.profiles
        WHERE id = auth.uid() AND role = 'admin'
    )
);
-- DevLog: Create Initial Admin User securely
-- Migration 013 (Admin Auth Seed via pg_crypto/auth schema)
-- Using hardcoded uuid so we can cross-reference it if we want, or gen_random_uuid
DO $$
DECLARE
    admin_uid UUID := gen_random_uuid();
    admin_email TEXT := 'ocarrotcakeo@gmail.com';
    admin_password TEXT := 'admin'; 
    encrypted_pw TEXT;
BEGIN
    -- Only create if this email does not exist yet to prevent errors on multiple runs
    IF NOT EXISTS (SELECT 1 FROM auth.users WHERE email = admin_email) THEN
        
        -- Generate encrypted password using pgcrypto extension manually mimicking Supabase
        encrypted_pw := extensions.crypt(admin_password, extensions.gen_salt('bf', 10));


        -- The handle_new_user() Trigger from 006 migration might catch this and auto-insert,
        -- BUT it ignores email providers. So we manually insert the profile.
        INSERT INTO public.profiles (
            id,
            username,
            nickname,
            full_name,
            role
        ) VALUES (
            admin_uid,
            'admin',      -- requested username
            '愿由ъ옄',      -- requested nickname
            '愿由ъ옄',
            'admin'       -- MUST BE ADMIN
        );

    END IF;
END $$;
